html {
  scroll-behavior: smooth;
}

/* HERO */
.hero-title,
.sub-title,
.estimate-btn,
footer.hero-footer-border {
  position: relative;
  z-index: 10;
}

a.estimate-btn {
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}

a.estimate-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(180deg, #141b3b 50.68%, #d5dbff 104.11%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
  z-index: 0;
}

main.page-bg {
  background: linear-gradient(180deg, #090d21 0%, #020205 100%);
  position: relative;
  overflow: hidden;
}

.primary-text-muted {
  background: linear-gradient(180deg, #989aa4 35.07%, #f5fafe 75.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
  line-height: 1.1;
  padding-bottom: 0.1em;
}

footer.hero-footer-border {
  border-top: 1px solid transparent;
  border-image-source: linear-gradient(
    90deg,
    #090b1b 11.06%,
    #a4b7ff 51.44%,
    #0a0c1a 87.02%
  );
  border-image-slice: 1;
  backdrop-filter: blur(40px);
  background: #00000033;
}

/* SLIDING_TEXT */
h2.sliding-text {
  background: linear-gradient(90deg, #373737 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.char {
  opacity: 0.2;
  transition: opacity 0.3s;
}

/* TESTIMONIALS */
article.testimonial-card {
  position: relative;
  background: #101010;
  border-radius: 1rem;
  padding: 2.5rem 1.25rem;
  min-height: 13.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  z-index: 1;
}

article.testimonial-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(0deg, #2c2c2c 0%, #71809e 44.71%, #242526 94.71%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 0;
}

article.testimonial-card img {
  z-index: 1;
}

article.testimonial-card p {
  margin: 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  background: #ffffff80;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-wrap: balance;
  z-index: 1;
  transition: all 0.3s ease;
}

.inner-circle {
  border-radius: 100%;
  background: radial-gradient(
    45.47% 45.47% at 50% 50%,
    #131c72 0%,
    #101010 100%
  );
  height: 23.25rem;
  width: 23.25rem;
  opacity: 0.5;
  filter: blur(40px);
  z-index: 0;

  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
}
